<table class="table table-hover table table-sm">
    <thead>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Población</th>
        <th>Detalle</th>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index" [routerLink]="['/pais', pais.cca2]">
            <td>{{i + 1}}</td>
            <td>
                <img class="small-flag" [src]="pais.flags.png" alt="">
            </td>
            <td>{{pais.capital}},{{pais.name.common}}</td>
            <td>{{pais.population | number}}</td>
            <td>
                <i class="las la-globe-americas" [routerLink]="['/pais', pais.cca2]" role="button"></i>
            </td>
            <!-- <td>
                <a [routerLink]="['/pais', pais.cca2]">Detalle</a>
            </td> -->
        </tr>
    </tbody>

</table>